#ACTION=="add" SUBSYSTEM=="block", TAG+="systemd", ENV{SYSTEMD_WANTS}+="cryptctl2-auto-unlock@$env{ID_FS_UUID}.service"
SUBSYSTEM=="block", ACTION=="add", RUN+="/usr/sbin/cryptctl2-auto-unlock.sh $env{DEVNAME} SERIAL:$env{ID_SCSI_SERIAL} PTUUID:$env{ID_PART_TABLE_UUID} PARTUUID:$env{ID_PART_ENTRY_UUID} UUID:$env{ID_FS_UUID}"
