[Unit]
Description=Disk encryption utility (cryptctl2) - contact key server to unlock disk %i and keep the server informed
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/cryptctl2 --action auto-unlock --diskID %i
User=root
Group=root
WorkingDirectory=/
